<div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark nav_bac header_menu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-md-4">
        <a class="navbar-brand" routerLink=""><b>Travels</b></a>
  </div>
    <div class="col-md-3"></div> 
    <div class="col-md-5">
        <div class="collapse navbar-collapse" id="nav-content">
           
            <ul class="navbar-nav menu-pad">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="services">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
      </nav>
  </div>