<section id="about">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12 col-xs-12 vs_text">
               <div class="about-image image-responsive">
                  <img src="assets/gallary/00.jpeg" alt="Responsive image" width="100%" height="450px">
                  <h2>
                   gallery
                  </h2>
               </div>  
            </div>
         </div>
      </div>
   </section>
   <section id="gallery">
      <section class="portfolio" id="portfolio">
         <div class="container-fluid">
            <div class="row">
      
               <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <button class="filter-button" data-filter="all">All</button>
                  <button class="filter-button" data-filter="category1">Religious Tours
                     </button>
                  <button class="filter-button" data-filter="category2">School Tour</button>
                  <button class="filter-button" data-filter="category3">Family Tour</button>
               </div>
      
               <div style="text-align:center">
                  
               </div>
               
               <br/>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                      <a class="fancybox" rel="ligthbox" href="assets/gallary/6.jpg">
                          <img class="img-responsive" alt="" src="assets/gallary/6.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                     <a class="fancybox" rel="ligthbox" href="assets/gallary/60.jpg">
                        <img class="img-responsive" alt="" src="assets/gallary/60.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                     <a class="fancybox" rel="ligthbox" href="assets/gallary/73.jpg">
                        <img class="img-responsive" alt="" src="assets/gallary/73.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                     <a class="fancybox" rel="ligthbox" href="assets/gallary/45.jpg">
                        <img class="img-responsive" alt="" src="assets/gallary/45.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                   <a class="fancybox" rel="ligthbox" href="assets/gallary/69.jpg">
                       <img class="img-responsive" alt="" src="assets/gallary/69.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 5</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                   <a class="fancybox" rel="ligthbox" href="assets/gallary/70.jpg">
                       <img class="img-responsive" alt="" src="assets/gallary/70.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 6</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                   <a class="fancybox" rel="ligthbox" href="assets/gallary/72.jpg">
                       <img class="img-responsive" alt="" src="assets/gallary/72.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 7</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                   <a class="fancybox" rel="ligthbox" href="assets/gallary/79.jpg">
                       <img class="img-responsive" alt="" src="assets/gallary/79.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 8</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                   <a class="fancybox" rel="ligthbox" href="assets/gallary/47.jpg">
                       <img class="img-responsive" alt="" src="assets/gallary/47.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 9</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                   <a class="fancybox" rel="ligthbox" href="assets/gallary/61.jpg">
                       <img class="img-responsive" alt="" src="assets/gallary/61.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 10</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                   <a class="fancybox" rel="ligthbox" href="assets/gallary/55.jpg">
                       <img class="img-responsive" alt="" src="assets/gallary/55.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 11</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
                  <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                   <a class="fancybox" rel="ligthbox" href="assets/gallary/62.jpg">
                       <img class="img-responsive" alt="" src="assets/gallary/62.jpg" width="100%" height="100%" />
                          <div class='img-info'>
                              <h4>Image Title 12</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </a>
                  </div>
      
            </div>
         </div>
      </section>
        </section> 