<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12 vs_text">
                <div class="about-image image-responsive">
                    <img src="../../assets/services.jpg" alt="Responsive image" width="100%" height="auto">
                    <h2>
                        Services
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio_list">
    <div class="container-fluid portfolio_padding">
        <div class="row abc11">
            <div class="col-md-1 portfolio_heading">
                <p><span class="c_medium_grey">Wedding</span></p>
            </div>
            <div class="col-md-7 portfolio_images"><img src="assets/services.jpg"></div>
            <div class="col-md-4 portfolio_contact">
                <div class="hide_text">
                    <h1>Wedding </h1>
                    <p class="gray_text">3 2 and 2 2 luxury video coach buses for wedding, party, picnic, are available
                        24 hours
                    </p>
                </div>

            </div>
        </div>
        <div class="row abc11">
            <div class="col-md-1 portfolio_heading">
                <p>Tour<span class="c_medium_grey"></span></p>
            </div>
            <div class="col-md-7 portfolio_images"><img src="assets/services.jpg"></div>
            <div class="col-md-4 portfolio_contact">
                <div class="hide_text">
                    <h1>Tour</h1>
                   <ul class="ul_tour">
                       <li>Fammily Tour</li>
                       <li>School Tour</li>
                       <li>Culturer Tour</li>

                   </ul>
                </div>
               
            </div>
        </div>
        <div class="row abc11">
            <div class="col-md-1 portfolio_heading">
                <p><span class="c_medium_grey">Yatra</span></p>
            </div>
            <div class="col-md-7 portfolio_images"><img src="assets/services.jpg"></div>
            <div class="col-md-4 portfolio_contact">
                <div class="hide_text">
                    <h1>Yatra Program</h1>
                    <h2 class="gray_text">1. Ganga Sagar <span class="dateFormat">(45 days)</span></h2>
                    <h2 class="gray_text">2. Badrinath <span class="dateFormat">(35 days)</span></h2>

                    <h2 class="gray_text">3. Vashnodevi <span class="dateFormat">(12-15 days)</span></h2>

                    <h2 class="gray_text">4. Dhawarika dhish <span class="dateFormat">(20-22 days)</span></h2>


                </div>
               
            </div>
        </div>
        

    </div>
</section>